body {
  padding: 0px;
  margin: 0px;
}
li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainDiv {
  display: flex;
  width: 100%;
  height: 800px;
}
.leftNav {
  width: 16%;
  background-color: #c0c0c0;
  color: #333;
  font-size: 24px;
  padding: 20px;
}

.leftNav li {
  padding: 5px;
}
.rightMain {
  width: 84%;
  background-color: #fff;
  font-size: 20px;
}

.topNav {
  height: 50px;
  background-color: #cfdefd;
}
.topNav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.topNav li {
  padding: 10px;
  text-align: center;
  list-style: none;
}
